.leaflet-popup-content-wrapper {
    background: radial-gradient(circle at 10% 20%, rgb(0, 0, 0) 0%, rgb(64, 64, 64) 90.2%) !important;
    color: var(--color-white) !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7) !important;
    border-radius: 20px !important;
}


.leaflet-popup-content {
    width: 410px !important;
}

.leaflet-popup-close-button {
    padding: 0.5rem !important;
    width: 2.5rem !important;
    height: 2.5rem !important;
    color: var(--color-white) !important;
    font-size: 1.5rem !important;
}

.popup-inner {
    &__title {
        position: relative;
        font-size: 1.4rem;
        color: rgb(206, 214, 172);
        font-weight: 700;
        margin-bottom: 0.5rem;

        display: flex;
        align-items: center;
        gap: 0.5rem;
   
        
    i {
        padding-top: 0.15rem;
        align-self: flex-start;
        font-size: 1.5rem;
    }
    }
   
    &__description {
        // color: var(--color-white);
        color: rgb(206, 214, 172);
        font-weight: 300;
        font-size: 1rem;
        letter-spacing: 0.025em;

        .image-wrapper {
            position: relative;
            display: inline-block;

            img {
                transition: transform 0.3s ease-in-out;
                border-radius: 10px;
                margin-bottom: 1rem;
                border: 2px solid #454545;

                &:hover {
                    transform: scale(1.05);
                }
            }

            // Fun fact style
            .fun-fact-tooltip {
                text-align: center;
                display: none;
                position: absolute;
                top: 175%;
                left: 50%;
                transform: translateX(-50%);
                margin-top: 0.5rem;
                padding: 0.5rem 1rem;
                background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
                
                color: var(--color-beige);
                border-radius: var(--brad-4);
                white-space: nowrap;
                font-size: 0.85rem;
                z-index: 10;
                box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
                font-weight: 600;
                width: 34rem;

                white-space: normal;

                &::before {
                    content: '';
                    position: absolute;
                    top: -10px; /* Positioning the arrow above the tooltip */
                    left: 50%;
                    transform: translateX(-50%);
                    border-width: 10px;
                    border-style: solid;
                    border-color: transparent transparent var(--color-beige) transparent;
                }
                
            }

            &:hover .fun-fact-tooltip {
                display: block;
            }
        }

 
       
    }

    &__button {
        padding: 0.30rem 1.5rem;
        background-color: rgb(46, 44, 44);
        font-size: inherit;
        font-family: 600;
        color: rgb(111, 207, 151);
        border-radius: 0.5rem;
        display: flex;
        gap: 0.5rem;
        margin: auto;

        &:hover {
            background-color: rgb(102, 139, 104);
            color: rgb(26, 32, 29);
            font-weight: 600;
            
        }

       
        
    }
    
}

